<head>
	<link rel="stylesheet" href="projects/randograph/style.css">
</head>
<h4> {{ project }} </h4>
<div class="container">
	<div id="instaMap" class="col-sm-12" style="height: 350px;"></div>
	<div>
	    <a ng-repeat="picture in album" title=" {{ picture.location.name + '\n' + timeTaken(picture.created_time) }} " data-toggle="modal" data-target="#imageModal" ng-click="setCurrentPhoto(picture)">
			<div>
			    <img src=" {{ picture.images.thumbnail.url }} " class="row no-gutter col-sm-2 img-responsive">
		    </div>
	    </a>
	</div>
</div>

<div id="imageModal" class="modal fade">
	<div class="modal-dialog">
			<div class="modal-body">
				<img src=" {{ currentPhoto.url }} ">
		    </div>
		    <div class="modal-header">
				<h3 class="modal-title"> {{ currentPhoto.name }} </h3>
				<br>
				<p class="date"> {{ currentPhoto.day }} </p>
				<p class="date"> {{ currentPhoto.time }} </p>
		    </div>
	</div>
</div>