.thumb {
	float: left;
}
.modal-backdrop.in {
	opacity: .9;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .25s linear;
       -o-transition: opacity .25s linear;
          transition: opacity .25s linear;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 10s ease-out;
       -o-transition:      -o-transform 10s ease-out;
          transition:         transform 10s ease-out;
  -webkit-transform: translate(0, 0%);
      -ms-transform: translate(0, 0%);
       -o-transform: translate(0, 0%);
          transform: translate(0, 0%);
}
.modal-header {
	background: transparent;
}
.testDiv {
	background-color: red;
	height: 150px;
	border: 2px solid #000000;
	background: no-repeat;
}
.date {
	line-height: 50%;
}